<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of comments</title>
</head>
<body>
        <h1>Already submitted comments</h1>

        <table>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Foundation</th>
                <th>Foundation</th>
            </tr>

            <tr th:each="comment : ${comments}">
                <td th:text="${comment.id}"></td>
                <td th:text="${comment.author.login}"></td>
                <td th:text="${comment.foundation.name}"></td>
                <td th:text="${comment.content}"></td>
            </tr>

        </table>
        <button> <a href="/">Add next comment</a></button>
</body>
</html>