<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>

<div>
    <h2>New Event!:</h2>

    <form action="#" th:action="@{create_event}" th:object="${event}" th:method="POST">

        <p>
            NAME:
            <input type="text" th:field="*{name}"/>
        </p>
        <p>
            DATE&TIME:<label>
            <input type="date" th:field="*{date}"/>
        </label>
        </p>
        <p>
            DESCRIPTION: <label>
            <textarea th:field="*{description}"></textarea>
        </label>
        </p>
        <p>
            <input type="submit" value="Create Event"/>
        </p>
    </form>
</div>

</body>
</html>