<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>

<div>
    <h2>New Event!:</h2>

    <form action="#" th:action="@{/sign}" th:object="${volunteers}" method="post" >

        <p>
            EVENT_ID:
            <input type="text" th:field="*{event_id}"/>
        </p>
        <p>
            USER_ID:
            <input type="text" th:field="*{user_id}"/>
        </p>

    </form>
</div>

</body>
</html>