<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your post</title>
</head>
<body>
<!--/*@thymesVar id="post" type="com.helpit.foundation.model.Post"*/-->
<table>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Foundation</th>
        <th>Comment</th>
    </tr>

    <tr>
        <td th:text="${post.id}">Bla</td>
        <td th:text="${post.volunteer.login}">Bla</td>
        <td th:text="${post.foundation.name}">Bla</td>
        <td th:utext="${post.content}">Bla</td>

        <div>
            <img src = ""
                 th:src="@{'/post/' + ${post.id} + '/renderimage'}"
                 width="200" height="200" />
        </div>
    </tr>

</table>
<button> <a href="/add_post/list">List posts</a></button>

</body>
</html>