<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Image to the post</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<!--/*@thymesVar id="post" type="com.helpit.posts.pcmodel.Post"*/-->

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-5">
            <h1 style="background: #007bff; border-style: solid; border-radius: 5px; border-width: thin; text-align: center">
                Upload an image to the post
            </h1>
            <hr>
            <form  action="http:\\localhost" method="post" enctype="multipart/form-data"
                   th:action="@{'/post/' + ${post.getId()} + '/image'}">
                <div class="form-group">
<!--                                <label for="imagefile">Select File</label>-->
                    <br>
                    <input id="imagefile" name="imagefile" type="file" class="file">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>