<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List posts</title>
</head>
<body>
<!--/*@thymesVar id="post" type="com.helpit.foundation.model.Post"*/-->
<h1>Already submitted posts</h1>

<table>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Foundation</th>
        <th>Post</th>
    </tr>

    <tr th:each="post : ${posts}">
        <td th:text="${post.id}">Bla</td>
        <td th:text="${post.user.login}">Bla</td>
        <td th:text="${post.foundation.name}">Bla</td>
        <td th:utext="${post.content}">Bla</td>
        <td><a href="#" th:href="@{'/add_post/' + ${post.id} + '/addImage'}">Add Image</a></td>
        <td><a href="#" th:href="@{'/add_post/' + ${post.id} + '/display_post'}">View Post</a></td>
    </tr>

</table>
<button> <a href="/add_post/add">Add next post</a></button>
</body>
</html>