<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List posts</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<!--/*@thymesVar id="post" type="com.helpit.posts.model.Post"*/-->


<div class="container">
    <h1>Already submitted posts</h1>
    <hr>
<table class="table table-hover table-bordered">
    <thead class="bg-danger">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">User</th>
        <th scope="col">Foundation</th>
        <th scope="col">Post</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="post : ${posts}">
        <td  scope="row" th:text="${post.id}">Bla</td>
        <td th:text="${post.volunteer.login}">Bla</td>
        <td th:text="${post.foundation.name}">Bla</td>
        <td th:utext="${post.content}">Bla</td>
        <td><a href="#" th:href="@{'/add_post/' + ${post.id} + '/addImage'}">Add Image</a></td>
        <td><a href="#" th:href="@{'/add_post/' + ${post.id} + '/display_post'}">View Post</a></td>
    </tr>
    </tbody>

</table>
<button class="btn btn-warning" onclick= "location.href='/add_post/add'"> Add next post </button>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>