<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css">
    <link rel="stylesheet" href="/css/root.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>

<div th:replace="partials/nav::nav"></div>

<section id="charity">

    <div id="charity-content" class="charity-content--new">

        <div class="charity-content-nav">
            <span>Add new article</span>
        </div>

        <div class="charity-content-feed charity-content-feed--new">

            <form id="add-article" class="add-article--new" action="/article/submit">
                <div class="add-article-content">

                    <div class="input-col">
                        <div class="input-article">
                            <span>Article title</span>
                            <label>
                                <input name="title" type="text"/>
                            </label>
                        </div>
                        <div class="input-article">
<!--                            <span></span>-->
                            <label for="selected"> Choose foundation</label> <br>
                                <select id="selected" name="selected" >
                                    <option value="" disabled selected hidden>Select foundation</option>
                                    <option value="#" th:each="foundation : ${foundations}" th:value="${foundation.getId()}" th:text="${foundation.getName()}">#</option>
                                </select>
<!--                            </label>-->
                        </div>

                    </div>

                    <div class="textarea-article">
                        <span>Article content</span>
                        <label>
                            <textarea id="summernote" name="editordata"></textarea>
                        </label>
                    </div>
                </div>

                <div class="add-article-controllers">
                    <div class="upload">
                        <input type="file" name="upload"/>
                        <i class="im im-export"></i>
                    </div>
                    <input type="submit" value="Create Article"/>
                </div>
            </form>

        </div>
    </div>

</section>

<footer id="foot"></footer>

<script type="text/javascript" charset="utf-8">

    function hideShowSignIn() {

        var y  = document.querySelector('#drop_view');
        var x = document.getElementById("dropdown-signup");
        var btn = document.getElementById("signup-btn")

        if(x.style.display === 'none' || x.style.display === '') {

            if(y.style.display === 'block') {
                y.style.display = "none";
            }

            x.style.display = "block";
            btn.style.left = "200px";
        } else {
            x.style.display = "none";
            btn.style.left = "10px";
        }
    }

    function hideShowOption() {

        var x  = document.querySelector('#drop_view');
        var y = document.getElementById("dropdown-signup");

        if(x.style.display === 'none' || x.style.display === '') {

            if(y.style.display === 'block') {
                y.style.display = "none";
            }

            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

</script>

<!-- summernote -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<script>
    $('#summernote').summernote({
        height: 298,
        toolbar: [
            ['font', ['bold', 'underline']],
            ['para', ['ul', 'ol']],
            ['view', ['fullscreen', 'codeview']],
            ['insert', ['link', 'picture', 'video']]
        ],
        disableResizeEditor: true,
    });

    $('#summernote').summernote('code', '<p></p>');


</script>

</body>

</html>