<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="menu">
    <div class="nav" sec:authorize="isAnonymous()">
        <a href="/login" th:text="#{menu.login}"></a>
        <a href="/signup" th:text="#{menu.signup}"></a>
    </div>
    <div class="nav" sec:authorize="isAuthenticated()">
       <form th:action="logout" method='POST'>
           <button type="submit" th:text="#{menu.logout}"></button>
       </form>
    </div>
</div>
</body>
</html>