#article {
  min-height: 550px;
  width: calc(100% - 20px);
  padding: 90px 10px 40px  10px; }
  @media (max-width: 550px) {
    #article {
      width: calc(100% - 30px);
      padding: 90px 20px 20px  10px; } }
  #article #article-content {
    display: grid;
    grid-template-rows: 40px 80px 350px auto 300px auto;
    width: 100%;
    max-width: 850px;
    margin: 0 auto; }
    #article #article-content .article-content-nav {
      background: #f95c57;
      border: 1px solid #b2b2b2;
      display: grid;
      grid-template-columns: 1fr auto auto; }
      #article #article-content .article-content-nav a:first-of-type {
        height: 20px;
        width: 20px;
        float: left;
        color: #fff;
        padding: 2px 3px 2px 2px;
        margin: 7px 0 0 8px;
        border: 1px solid rgba(255, 255, 255, 0.65);
        text-align: center;
        border-radius: 3px; }
        #article #article-content .article-content-nav a:first-of-type:hover {
          background-color: #e2645f; }
        #article #article-content .article-content-nav a:first-of-type i {
          line-height: 24px;
          font-size: 15px; }
      #article #article-content .article-content-nav a:nth-of-type(2) {
        height: 40px;
        width: auto;
        padding: 0 20px 0 10px;
        font-size: 14px;
        text-decoration: none;
        float: right;
        line-height: 40px;
        color: #fff; }
        #article #article-content .article-content-nav a:nth-of-type(2):hover {
          text-decoration: underline; }
      #article #article-content .article-content-nav a:nth-of-type(3) {
        height: 40px;
        width: auto;
        padding: 0 20px 0 10px;
        font-size: 14px;
        text-decoration: none;
        float: right;
        line-height: 40px;
        color: #fff; }
        #article #article-content .article-content-nav a:nth-of-type(3):hover {
          text-decoration: underline; }
    #article #article-content .article-content-title {
      border-left: 1px solid #b2b2b2;
      border-right: 1px solid #b2b2b2; }
      #article #article-content .article-content-title h2 {
        line-height: 80px;
        padding: 0 0 0 15px;
        margin: 0;
        font-size: 20px;
        font-weight: 200 !important;
        color: #3a3a3a !important; }
    #article #article-content .article-content-image img {
      display: block;
      max-width: 850px;
      height: 350px;
      width: 100%;
      object-fit: cover; }
    #article #article-content .article-content-text {
      border: 1px solid #b2b2b2;
      border-top: none;
      -webkit-box-shadow: 0px 15px 20px -18px #d3cad8;
      -moz-box-shadow: 0px 15px 20px -18px #d3cad8;
      box-shadow: 0px 15px 20px -18px #d3cad8; }
      #article #article-content .article-content-text p {
        padding: 10px 17px 15px 17px;
        line-height: 23px;
        font-size: 13px;
        color: #222; }
        #article #article-content .article-content-text p::first-letter {
          font-family: 'Playfair Display', serif;
          font-size: 18px;
          font-weight: 600; }
    #article #article-content .article-content-add-comment {
      display: grid;
      grid-template-rows: 1fr 50px;
      margin: 60px 0 0 0;
      position: relative; }
      #article #article-content .article-content-add-comment span {
        position: absolute;
        top: -30px;
        left: 2px;
        font-size: 13px; }
      #article #article-content .article-content-add-comment textarea {
        border: 1px solid #b2b2b2;
        border-radius: 3px;
        resize: none; }
      #article #article-content .article-content-add-comment .note-editor i {
        color: #444 !important; }
      #article #article-content .article-content-add-comment .note-editor.note-frame {
        border: 1px solid #b2b2b2; }
      #article #article-content .article-content-add-comment .note-editor .note-editing-area {
        background-color: #fff;
        min-height: 70px; }
      #article #article-content .article-content-add-comment .note-editor .note-toolbar {
        background-color: #fafafa; }
      #article #article-content .article-content-add-comment .note-editor .note-statusbar {
        background-color: #fafafa; }
      #article #article-content .article-content-add-comment .input-comment {
        width: 100%; }
        #article #article-content .article-content-add-comment .input-comment input {
          width: 130px;
          height: 40px;
          border: 1px solid #b2b2b2;
          border-radius: 3px;
          margin: 10px 0 0 0;
          float: right; }
    #article #article-content .article-content-comments {
      min-height: 30px;
      display: grid;
      grid-auto-rows: auto;
      row-gap: 20px;
      position: relative; }
      #article #article-content .article-content-comments .article-comment {
        min-height: 50px;
        display: grid;
        column-gap: 20px;
        grid-template-columns: 50px auto;
        padding: 0 0 0 20px;
        border-left: 3px solid #ff7970; }
        #article #article-content .article-content-comments .article-comment img {
          width: 41px;
          height: 41px;
          border-radius: 100px;
          margin: 4px 0 0 4px;
          border: 1px solid #b2b2b2; }
        #article #article-content .article-content-comments .article-comment .article-comment-content {
          position: relative; }
          #article #article-content .article-content-comments .article-comment .article-comment-content i {
            position: absolute;
            left: -10px;
            top: 24px;
            font-size: 14px;
            color: #e9eef8; }
          #article #article-content .article-content-comments .article-comment .article-comment-content .article-comment-text {
            display: inline-block;
            margin: 7px 0 0 0;
            width: auto;
            padding: 7px 10px;
            line-height: 22px;
            background-color: #e9eef8;
            border-radius: 5px;
            font-size: 13px; }
