<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css">
    <link rel="stylesheet" href="/css/root.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>

<div th:replace="partials/nav::nav"></div>

<section id="charity">

    <div id="charity-content">

        <div class="charity-content-nav">
            <a href="/">
                <i class="im im-arrow-left"></i>
            </a>

            <a href="/charity/edit" role="button">Edit</a>
        </div>

        <div class="charity-content-user">
            <img alt="charity_logo" th:src="@{/images/ch_logo.jpg}">

            <h5>CHARITY NAME</h5>
        </div>

        <div class="charity-content-links">
            <a href="/charity/show">Feed</a>
            <a href="/charity/events">Events</a>
            <a href="/charity/sponsors">Sponsors<i class="im im-care-up"></i></a>
        </div>

        <div class="charity-content-feed">

            <form action="#" th:action="@{/create_event}" th:object="${event}" method="post" >
                <input type="text" th:field="*{name}"/>
                <input type="datetime-local" th:field="*{date}"/>
                <input type="text" th:field="*{foundation}"/>
                <textarea th:field="*{description}"></textarea>
                <input type="submit" value="Create Event" />
            </form>

            <div id="articles">
                <div class="article">
                    <img src="/images/article.png" alt="">

                    <div class="article-details">
                        <div class="article-title">Title</div>
                        <div class="article-content">Quokka says quokk quokk quokk quokk quokk quokk XD</div>
                        <a href="/article/show">read more</a>
                    </div>
                </div>

                <div class="article">
                    <img src="/images/article.png" alt="">

                    <div class="article-details">
                        <div class="article-title">Title</div>
                        <div class="article-content">Quokka says quokk quokk quokk quokk XD</div>
                        <a href="/article/show">read more</a>
                    </div>
                </div>

                <div class="article">
                    <img src="/images/article.png" alt="">

                    <div class="article-details">
                        <div class="article-title">Title</div>
                        <div class="article-content">Quokka says quokk quokk quokk quokk quokk quokk XD</div>
                        <a href="/article/show">read more</a>
                    </div>
                </div>

            </div>

        </div>
    </div>

</section>

<footer id="foot"></footer>

<script type="text/javascript" charset="utf-8">

    function hideShowSignIn() {

        var y  = document.querySelector('#drop_view');
        var x = document.getElementById("dropdown-signup");
        var btn = document.getElementById("signup-btn")

        if(x.style.display === 'none' || x.style.display === '') {

            if(y.style.display === 'block') {
                y.style.display = "none";
            }

            x.style.display = "block";
            btn.style.left = "200px";
        } else {
            x.style.display = "none";
            btn.style.left = "10px";
        }
    }

    function hideEl(){
        var y  = document.querySelector('#dropdown-signup');

        if(y.style.display === 'block') {
            y.style.display = "none";
        }
    }

    function manageDrop(){
        var btn = document.querySelector('#navbar-user'),
            view = document.querySelector('#drop_view'),
            viewItems = view.querySelectorAll('li'),
            body = document.body;

        btn.addEventListener('click', function(e){
            e.stopPropagation();
            view.classList.toggle('is_active');
        }); // open menu

        for(var i = 0; i < viewItems.length; i++){
            viewItems[i].addEventListener('click', function(e){
                e.stopPropagation();
                view.classList.remove('is_active');
            });
        } // carry item content to output,
          // close after click

        body.addEventListener('click', function(){
            if(view.classList.contains('is_active')){
                view.classList.remove('is_active');
            }
        }); // close after click outside
    }

    manageDrop();

</script>

</body>

</html>