#nav{
  height: 60px;
  width: 100vw;
  background-color: #fff;
  border-bottom: 3px solid #f4f4f4;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 185px 1fr auto 90px;
  position: fixed;
  top: 0;
  z-index: 999;

  @media (max-width: 550px) {
    grid-template-columns: 160px 1fr auto 90px;
  }

  @media (max-width: 450px) {
    grid-template-columns: 160px 1fr 90px;
  }

  #navbar-logo{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 60px 125px;
    text-decoration: none;
    color: #111;
    //background-color: #f972b0;

    img{
      margin: 5px 0 0 5px;
      width: 50px;
      height: 50px;

      @media (max-width: 550px) {
        margin: 10px 0 0 10px;
        width: 40px;
        height: 40px;
      }
    }

    h1{
      margin: 0 0 0 5px;
      line-height: 60px;
      font-weight: 500;
      //background-color: #522;

      @media (max-width: 550px) {
        font-size: 20px;
      }
    }
  }


  #navbar-links{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr repeat(1, auto);
    line-height: 60px;
    //background-color: #b2ffa6;
    margin: 0 25px 0 0;

    .navbar-link{
      text-decoration: none;
      color: #111;
      position:relative;
      font-size: 14px;
      padding: 0 5px 0 2px;

      @media (max-width: 790px) {
        display: none;
      }

    }
  }

  #navbar-registers{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    @media (max-width: 450px) {
      display: none;
    }

    #signup-btn {
      height: 38px;
      width: auto;
      display: grid;
      grid-template-columns: 3fr auto;
      margin: 11px 15px 0 0;
      border-radius: 60px;
      padding: 0 28px;
      text-decoration: none;
      color: #fff;
      background: linear-gradient(to bottom right, #f06560, #e64339);
      transition: ease-in-out 0.15s;
      cursor: pointer;

      &:hover{
          background: linear-gradient(to bottom right, #e2645f, #d64238);
      }

      span {
        line-height: 38px;
        font-size: 14px;
        cursor: pointer;
      }
    }

    #dropdown-signup{
      position: absolute;
      background-color: #fff;
      z-index: 99999;
      width: 250px;
      height: 120px;
      top: 70px;
      right: 50px;
      border: 1px solid #d0d0d0;
      border-radius: 2px;
      grid-template-rows: 60px 60px;
      padding: 10px;
      display: none;

      .dropdown-signup-option{
        border-radius: 2px;
        background-color: #fff;
        display: grid;
        grid-template-columns: 60px 1fr;
        text-decoration: none;
        color: #111;
        border: 1px solid #d0d0d0;
        margin: 5px 10px;
        cursor: pointer;

        &:hover{
          background-color: #f9f9f9;
        }

        i{
          //background-color: #ffe58d;
          line-height: 50px;
          text-align: center;
          font-size: 15px;
          color: #c8cecf;
        }

        span{
          padding: 0 0 0 10px;
          font-size: 13px;
          line-height: 49px;
        }
      }
    }

  }

  #navbar-user{
    display: grid;
    grid-template-columns: 1fr 40px;
    margin: 0 10px 0 0;
    position: relative;

    img{
      margin: 10px 0 0 0;
      width: 36px;
      height: 36px;
      border-radius: 60px;
      border:1px solid #eeeeee;
      cursor: pointer;

      &:hover{
        filter: brightness(0.95);
      }
    }


    #navbar-dropdown{
      padding: 19px 0 0 10px;
      cursor: pointer;
      z-index: 99999;

      i{
        color: #555;
        font-size: 7px;
      }
    }

    .dropdown-menu{
      position: absolute;
      width:200px;
      height: 150px;
      top: 55px;
      right: 10px;
      border: 1px solid #D1D1D1;
      background-color: #fff;
      display: none;

      &.is_active{
        display: block;
      }
    }
  }

}

#search-bar{
  height: 55px;
  width: 100%;
  border-bottom: 1px solid #ececec;
  position: fixed;
  top: 62px;
  background-color: #fff;
  z-index: 99;

  #search-options{
    height: 55px;
    width: 100%;
    max-width: 1160px;
    //background-color: #c5f9d5;

    display: grid;
    grid-template-columns: repeat(8, auto ) 150px;
    grid-template-rows: 1fr;
    margin: 0 auto;


    .search-option{
      //background-color: #8bd653;
      float: left;
      height: 38px;
      padding: 17px 0 0 0;
      font-size: 13px;

    }

    a{
      margin: 12px 15px;
      border-radius: 2px;
      cursor: pointer;
      line-height: 31px;
      text-align: center;
      color: #111;
      font-size: 13px;
      border: 1px solid #d3d3d3;

      &:hover{
        border: 1px solid #b4b4b4;
      }


    }

  }

}


#search-result{
  width: 100%;
  min-height: 530px;
  max-width: 1260px;
  //background-color: #f972b0;
  margin: 129px auto 0 auto;

  display: grid;
  grid-template-columns: repeat(5, 240px);
  grid-auto-rows: 240px;
  row-gap: 25px;
  column-gap: 15px;
  padding: 30px 20px 40px 20px;

  .charity-card{
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 160px 45px 35px;

    -webkit-box-shadow: 0px 15px 22px -18px rgb(250, 241, 255);
    -moz-box-shadow: 0px 15px 22px -18px   rgb(250, 241, 255);
    box-shadow: 0px 15px 22px -18px   rgb(250, 241, 255);

    .charity-card-img{
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      border: 1px solid #dadada;
      background-color: #ededed;
      border-bottom: 0;
      width: 240px;
      height: 160px;
    }

    .charity-card-title{
      background-color: #fff;
      border: 1px solid #dadada;
      border-bottom: 0;
      line-height: 45px;
      padding: 0 0 0 16px;
      color: #383838;
      font-size: 15px;
      text-decoration: none;

    }

    .charity-card-category{
      background-color: #fff;
      border: 1px solid #dadada;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      display: grid;
      grid-template-columns: 40px 1fr;
      line-height: 35px;

      .charity-card-category-img{
        height: 20px;
        width: 21px;
        margin: 5px 0 0 15px;
        border: 1px solid rgba(255, 255, 255, 0);
      }


      span{
        line-height: 33px;
        color: #ababab;
        font-size: 12px;
        margin: 0 0 0 5px;
        text-decoration: none;

      }
    }

    &:hover{
      -webkit-box-shadow: 0px 15px 22px -18px rgb(198, 189, 203);
      -moz-box-shadow: 0px 15px 22px -18px  rgb(198, 189, 203);
      box-shadow: 0px 15px 22px -18px rgb(198, 189, 203);
    }

    //background-color: #82aae6;
  }
}



//Sign in/ Register









// Footer

#foot{
  height: 80px;
  width: 100%;
  background-color: #dce6e3;
  border-top: 1px solid #ececec;
}